#dashboard-container {
  padding: 40px;
}
#dashboard-main-headings {
  height: 100px;
}
#dashboard-shop-name {
  border-bottom: 2px solid navy;
  width: fit-content;
  padding: 0px 10px;
  height: 45px;
  border-radius: 10px;
}
#dashboard-main-heading {
  margin-top: 10px;
  padding: 0px 20px;
  font-size: 24px;
}
#dashboard-options {
  padding: 20px;
  display: grid;
  gap: 30px;
  height: 320px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#graph {
  height: 250px;
  overflow-x: auto;
  overflow-y: hidden;
}
#main-graph {
  width: 100vw;
}
#total-products,
#total-catagories,
#todo,
#todays-profit,
#previous-day-sales,
#previous-month-sales {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.537);
  height: 150px;
  width: 200px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: navy;
  font-size: 20px;
  cursor: pointer;
}
#total-products p,
#total-catagories p,
#todo p,
#todays-profit p,
#previous-day-sales p,
#previous-month-sales p {
  margin-bottom: 10px;
}
#graph {
  grid-column: 1 / -1;
  position: relative;
  right: 40px;
}
@media screen and (min-width: 1300px) {
  #graph {
    height: 290px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  #main-graph {
    width: 50vw;
  }
}
@media screen and (max-width: 1000px) {
  #dashboard-options {
    transition: height 0.3s ease;
    height: fit-content;
    max-height: 69vh;
  }

  body.sidebar-open-mobile #dashboard-options {
    height: 50vh;
  }
}
@media screen and (max-width: 706px) {
  #total-products,
  #total-catagories,
  #todo,
  #todays-profit,
  #previous-day-sales,
  #previous-month-sales {
    margin: auto;
    width: 60vw;
  }
}
@media screen and (max-width: 675px) {
  #dashboard-container {
    padding: 20px;
  }
  #dashboard-options {
    padding: 10px;
    width: 63vw;
  }
  #total-products,
  #total-catagories,
  #todo,
  #todays-profit,
  #previous-day-sales,
  #previous-month-sales {
    margin: auto;
    width: 60vw;
  }
}
@media screen and (max-width: 310px) {
  #dashboard-shop-name {
    font-size: 20px;
  }
  #dashboard-main-heading {
    font-size: 20px;
  }
}
