.navbar {
  padding: 10px 40px;
  background-color: purple;
  color: white;
}
#side-bar {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
  height: 90vh;
}
#main-second-body {
  height: 500px;
  margin: auto;
  width: 70vw;
  margin-left: 50px;
  background: rgba(87, 87, 87, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.537);
  border-radius: 10px;
}
#options {
  max-height: 70vh;
}
#sidebar_fully_outer {
  width: 300px;
  display: flex;
  border-right: 2px solid purple;
  height: fit-content;
  flex-direction: column;
}
#options {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  overflow-x: hidden;
}
#sidebar_inner {
  font-size: 18px;
  padding: 20px;
  width: 250px;
}
#main-heading p {
  font-size: 22px;
  font-weight: 900;
  height: 30px;
}
ul li {
  list-style: none;
  text-decoration: none;
  margin: 10px;
  padding: 10px 10px 10px 15px;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  width: 160px;
}
ul li p {
  position: relative;
  top: 3px;
  left: 5px;
}
ul li:hover {
  background-color: purple;
  color: white;
  transition: 0.2s;
}
#special-options {
  height: 150px;
  overflow-y: auto;
  border-radius: 20px;
  width: 160px;
  margin: auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.769);
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  overflow-x: hidden;
}
#more-options-btn {
  display: none;
}
@media screen and (max-width: 1200px) {
  #side-bar {
    width: 100%;
  }
  ul li p {
    font-size: 14px;
    bottom: 1px;
  }
  #special-options {
    font-size: 14px;
  }
  #icon svg {
    font-size: 20px;
  }
  #main-second-body {
    width: 63%;
  }
}
@media screen and (max-width: 1125px) {
  #special-options {
    width: 140px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1000px) {
  #sidebar_fully_outer {
    height: 92%;
    border: none;
    width: 30%;
    margin-top: 0%;
    position: relative;
    left: 5%;
    z-index: 0;
    transition: 0.5s;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  ul li p {
    font-size: 14px;
  }
  #more-options-btn {
    display: block;
  }
  #side-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #main-second-body {
    height: 100%;
    width: 83%;
    margin-left: -18%;
    z-index: 1;
    border: 2px solid purple;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }

  #options,
  #main-heading {
    transition: 0.5s;
  }
}
@media screen and (max-width: 665px) {
  #sidebar_fully_outer {
    width: 40%;
  }
  #main-second-body {
    width: 83%;
    margin-left: -25%;
  }
}
@media screen and (max-width: 500px) {
  #sidebar_fully_outer {
    width: 80%;
  }
  #main-second-body {
    width: 80%;
    margin-left: -62%;
  }
}
@media screen and (max-width: 400px) {
  #more-options-btn {
    position: relative;
    right: 9px;
  }
}
